<div style="margin-top:20px;" class="row">
    <div class="small-12 medium-10 large-8 columns small-centered">
        <h3>ThirtyOne - A Food Pantry App</h3>
        <blockquote>
            Therefore do not be anxious, saying, 'What shall we eat?' or 'What shall we drink?' or 'What shall we wear?'.  For the Gentiles seek after all these things, and your heavenly Father knows that you need them all. But seek first the kingdom of God and his righteousness, and all these things will be added to you.</br>
            <span class="right">Matthew 6:31-33</span>
        </blockquote>
        <div style="padding-top:10px">
           <a class="button small" href="<%= people_path %>">Start Serving</a>
        </div>
     </div>
</div>
