<div id="results" class="results <%if @people.length == 0%>hide<% end %>">
  <ul data-dropdown-content>
    <% @people.each_with_index do |person, index|
      rowclass = 'oddrow '
      rowclass = 'evenrow ' if index % 2 == 0
      rowclass += 'last-element' if index == @people.length - 1
    %>
        <li class="<%= rowclass %>">
            <div><%= person.fullname %>
              <div class="right">
                <%= link_to 'Edit', edit_person_path(person) %>
              </div>
            </div>
        </li>
    <% end %>
  </ul>
</div>