<div class="row">
  <div style="width:400px;">
    <div style="float: left; width: 130px">
      <div style="padding-top:10px; clear: both;"><a class="button tiny" href="<%= new_work_schedule_path %>">New Schedule</a></div>
    </div>
  </div>
  <div id="calendar" style="clear: left;"></div>
</div>