<div class="row">
  <div class="small-12 columns">
    <label><h5>Address</h5></label>
  </div>
</div>
<div class="row">
  <div class="small-1 columns">
    <input type="radio" name="address_id" value="<%= household.address_id %>"/>
  </div>
  <div class="small-11 columns">
    <% if household.address %>
        <%= household.address.line1 %><br />
        <% if !household.address.line2.empty? %><%= household.address.line2 %><br /><% end %>
        <%= household.address.city_state_zip %>
    <%else%>
        None on file
    <% end %>
  </div>
</div>