<div class="row">
  <div class="small-12 columns">
    <label><h5>Members to Keep</h5></label>
  </div>
</div>

<% household.members.each do |person| %>
    <div class="row member-wrap">
      <div class="small-1 columns">
        <input name="member_ids[]" type="checkbox" checked="checked" onchange="App.Household.mergeMemberChecked(this);" value="<%= person.id %>" />
      </div>
      <div class="small-11 columns member-name">
        <%= person.fullname %>
        <span class="red-text deleted hide">(Will be Deleted)</span>
      </div>
    </div>
<% end %>