<div style="margin-top:20px;" class="row">
  <div class="small-12 medium-8 large-8 columns small-centered">
        <%= render 'edit' %>
  </div>
</div>
<div class="row">
  <div class="large-8 small-12 columns small-centered">
    <h3>Members</h3>
    <p><%= @household.members.map {|person| person.formal_name}.join('; ') %></p>
  </div>
</div>
<div class="row">
  <div class="large-8 columns small-12 columns small-centered">
    <%= link_to("New Person", new_person_path(:household_id => @household.id, :redirect_to_url => edit_household_path(@household)), :class => 'button tiny') %>
  </div>
</div>