<div class="row">
  <div class="small-12 columns">
    <h1>Merge Households</h1>
  </div>
  <div class="small-12 columns">
    <p>Need to merge households <%= @household.id %> and <%= @merge_household.id %></p>
  </div>
</div>

