<div class="row">
  <div class="large-8 small-12 columns small-centered">
    <h1>The <%= @household.name %> Household</h1>
  </div>
</div>
<div class="row">
  <div class="large-8 small-12 columns small-centered">
      <%= render 'show' %>
    </div>
</div>