<div class="row">
  <div class="medium-12 columns">
    <h1 class="page-header">Active Visits</h1>
  </div>
</div>
<div class="row table-header">
  <div class="medium-3 columns">
    Visitor
  </div>
  <div class="medium-3 columns">
    Host
  </div>
  <div class="medium-3 columns end">
    Check in time
  </div>
</div>
<%= render @visits %>
<div class="row" style="margin-top: 20px;">
  <div class="medium-3 columns end">
    <%= link_to 'New Visit', new_visit_path, class: 'button' %>
  </div>
</div>
