<div class="row" style="position: relative;">
  <div class="medium-12 columns">
    <h1 class="page-header" style="display: inline-block;"><%= @filter ? "Today's" : 'Active' %> Visits</h1>&nbsp;<%= link_to @filter ? 'show active' : 'show all', @filter ? visits_path : visits_path(show: :today) %>
  </div>
</div>
<div class="row table-header">
  <div class="medium-3 columns">
    Visitor
  </div>
  <div class="medium-3 columns">
    Host
  </div>
  <div class="medium-3 columns end">
    Check in time
  </div>
</div>
<%= render @visits %>
<div class="row" style="margin-top: 20px;">
  <div class="medium-3 columns end">
    <%= link_to 'New Visit', new_visit_path, class: 'button' %>
  </div>
</div>
