<div style="margin-top:20px;" class="row">
  <div class="small-12 medium-9 large-8 columns small-centered">
    <h1>New Local Resource</h1>

    <%= render 'form' %>

    <%= link_to 'Back', local_resources_path %>
  </div>
</div>