<div class="row">
  <div class="small-12 medium-9 large-8 columns small-centered">
    <h3><%= @user.name %></h3>
    <div class="field">
        <div><strong>Username</strong></div>
        <div style="margin-bottom:15px;">
          <%= @user.email %>
        </div>
    </div>
    <div class="field">
        <div><strong>Password</strong></div>
        <div>**********</div>
    </div>
    <div class="left">
      <button type="button" class="button tiny" onclick="window.location='<%= edit_user_path(@user) %>'">Edit</button>
    </div>
    <div class="right">
        <button type="button" class="button tiny" onclick="window.location='<%= users_path %>'">Back</button>
    </div>
  </div>
</div>