<div class="row">
  <div class="small-12 columns">
    <h1 class="text-center red-text">This confirmation token is not valid<br/>Please login using your old username/email and click re-send confirmation email.</h1>
  </div>
</div>
<div class="row" style="margin-top:20px;">
  <div class="small-12 columns text-center">
    <% if (user_signed_in?) %>
        <%= link_to "Start Serving", people_path, class: "button" %>
    <% else %>
        <%= link_to "Login", new_user_session_path, class: "button" %>
    <% end %>
  </div>
</div>