// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.grey{
  color:#aaa;
}

div.grey{
  background-color:#f2f2f2;
}
div.yellow{
  background-color:#F8F2DA;
}
div.blue{
  background-color:#ecfaff;
}

.dark-grey {
  background-color: #d8d8d8;
}
.title{
  border-bottom:ridge;
}

.space-above{
  margin-top:1rem !important;
}

.space-bottom{
  margin-bottom:1rem !important;
}


.title p{
  display: table-cell;
  vertical-align:middle;
  line-height: 40px;
  font-weight:bold;
  font-size: 1.2em;
}

.title h5{
  font-weight:bold;
}

div.radius{
  border-radius:3px;
}

div.radius div:first-child{
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}

div.radius div:last-child{
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
}



input.checkbox {
  padding-right:20px;
}

.results {
  border:solid #ccc 1px;
  border-radius: 3px;

  ul {
    list-style: none;
    margin: 0px;
    li {
      min-height:45px;
      width:100%;
      border-bottom:solid #ccc 1px;
      border-color: #d7d7d7;
      color: #333333;
      span {
        padding-left:15px;
        height: 45px;
        vertical-align: middle;
        display: table-cell;
      }
      &:hover {
        background-color: #008CBA;
        color: #ffffff;
        cursor: hand;
        cursor: pointer;
      }

    }
  }
}

.expanded_li:hover {
  //background-color: transparent !important;
  color:#0000cc !important;
}

.existing_household {
  border: 1px #E6D285 solid;
  background-color: #F8F2DA;
  padding: 5px;
  margin-bottom:5px;
}

.yellow .existing_household {
  border: 0px;
}

li.last-element {
  border-bottom: none;
}
li.evenrow {
  background-color: #E7E7E7;
}

li.oddrow {
  background-color: #f9f9f9;
}

.persondetails {
    background-color: #dfffdf;
}

.editable1 {
  input[type=text] {
    width: auto;
    display: inline;
  }

  table {
    background-color: #DFFFDF;
    margin: 0px;
    cellpadding: 0px;
    cellspacing: 0px;
    text-spacing: none;
    white-space: 0px;
    border-spacing: 0px;
    text-spacing: none;
    border: none;
  }

  td {
    background: #DFFFDF;
  }
}